#flex-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 7.5vh;
    padding: 0 5vw;
}

#flex-main{
    background-color: lightskyblue;
    height: 100%;
    width: 70em;

    margin: 0 auto;
    padding: 1%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flex-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    height: 7.5vh;
    padding: 0 5vw;
}
